# git & GitHub
.git/ export-ignore
.githooks/ export-ignore
.github/ export-ignore
.gitignore export-ignore
.gitattributes export-ignore

.vscode export-ignore
.changeset export-ignore
.browserslistrc export-ignore
.editorconfig export-ignore

.phpcs.xml export-ignore
.prettierignore export-ignore
assets-src export-ignore
package.json export-ignore
pnpm-lock.yaml export-ignore
postcss.config.cjs export-ignore
webpack.config.js export-ignore
scripts export-ignore
bin export-ignore
*.sh export-ignore

# composer
composer.lock export-ignore
composer.dist.json export-ignore