# hidden files and folders
.* export-ignore

# Tooling
assets-src export-ignore
package.json export-ignore
pnpm-lock.yaml export-ignore
postcss.config.cjs export-ignore
bin export-ignore
*.sh export-ignore
config/ export-ignore
pint.json export-ignore
pnpm-workspace.yaml export-ignore

# composer
composer.lock export-ignore
composer.dist.json export-ignore

*.md export-ignore