# System
.DS_Store

# JS tooling
npm-debug.log
node_modules/
.cache
*.map
.is-built

# Composer
vendor/
php-scoper-wordpress-excludes/

# Scoper
bin/*.phar

# Dist folder
dist/

# Other
*.sql
*.log
*.zip