# System
.DS_Store

# JS tooling
npm-debug.log
node_modules/
.cache
*.map
.is-built

# Composer
vendor/
php-scoper-wordpress-excludes/
.php-cs-fixer.cache

# Releases
php-scoper
scoped/
dist/

# Other
*.sql
*.log
*.zip