parameters:
  level: 4
  paths:
    - rh-admin-utils.php
    - src/
  scanDirectories:
    - vendor/.wp
    - vendor/wp-cli/wp-cli
    - vendor/wp-phpunit/wp-phpunit
  bootstrapFiles:

  ignoreErrors:
