[data-rhau-environment-links] {
  background: rgb(0 0 0 / 0.8);
  padding: 25px;
  margin: 0;
  white-space: nowrap;
  font-size: 70px;
  border-radius: 80px;
  position: fixed;
  top: 50%;
  left: 50%;
  text-shadow: 2px 2px 10px rgb(0 0 0 / 0.4);
  translate: -50% -50%;
  display: flex;
  align-items: center;
  gap: 10px;
  scale: 0;
  visibility: hidden;
  transition:
    scale 200ms ease-out,
    visibility 0ms 200ms;
}

@media print {
  [data-rhau-environment-links] {
    display: none !important;
  }
}

[data-rhau-environment-links][open] {
  visibility: visible;
  scale: 1;
  transition: scale 200ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

rhau-environment-link {
  cursor: pointer !important;
  appearance: none !important;
  font-family: sans-serif !important;
  font-weight: bold !important;
  color: #fff !important;
  display: block !important;
  margin: 0 !important;
  text-decoration: none !important;
  height: 1.6em !important;
  line-height: 1.55 !important;
  padding: 0 0.5em !important;
  border-radius: 0.8em !important;
  border: 3px dashed transparent;
  &:hover,
  &:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #fff;
  }
}
