#submitdiv:not(.rhau-enabled) {
  input[type="submit"]  {
    visibility: hidden;
    pointer-events: none;
  }
}
#wpadminbar #wp-admin-bar-delete-cache .ab-icon:before {
  content: "\f182";
  top: 1px;
}