@import './inc/mixins';

#submitdiv:not(.rhau-enabled) {
  input[type="submit"]  {
    visibility: hidden;
    pointer-events: none;
  }
}
#wp-admin-bar-delete-cache .ab-icon:before {
  content: "\f182";
  top: 1px;
}
#wp-admin-bar-rh-publish > .ab-item.is-disabled,
#wp-admin-bar-rh-save > .ab-item.is-disabled {
  pointer-events: none;
  opacity: 0.5;
}
.rhau-icon--info {
  color: rgba(0,0,0,0.3);
  @include hover {
    color: rgba(0,0,0,0.7);
  }
}