@import "./inc/mixins";
@import "./modules/qtranslate";
@import "./modules/acf";
@import "./modules/user-forms";
@import "./modules/tinymce-plugins";

#submitdiv:not(.rhau-enabled) {
  input[type="submit"] {
    visibility: hidden;
    pointer-events: none;
  }
}
#wp-admin-bar-rhau-delete-cache .ab-icon:before {
  content: "\f182";
  top: 1px;
}
#wp-admin-bar-rh-publish > .ab-item.is-disabled,
#wp-admin-bar-rh-save > .ab-item.is-disabled {
  pointer-events: none;
  opacity: 0.5;
}
.rhau-icon--info {
  color: rgba(0, 0, 0, 0.3);
  @include hover {
    color: rgba(0, 0, 0, 0.7);
  }
}

/*
* Desaturate overwritten options on options-discussion.php
*/
.options-discussion-php {
  [for="default_comment_status"],
  [for="close_comments_for_old_posts"],
  [for="close_comments_days_old"],
  [for="comment_registration"],
  [for="default_ping_status"] {
    opacity: 0.2;
    pointer-events: none;
    user-select: none;
  }
}
